* {
  margin: 0px;
  padding: 0px; }

html, body {
  width: 100%;
  height: 100%;
  font-family: arial; }

.container, .row, .block-0, .block-1, .block-2, .block-3, .block-4, .block-5 {
  width: 100%;
  height: 100%;
  position: relative; }

#header {
  width: 100%;
  padding: 20px 0px 20px 0px;
  position: relative;
  background: rgba(82, 171, 224, 0.8);
  text-align: center;
  color: white;
  font-size: 80px; }

.row, .block-0, .block-1, .block-2, .block-3, .block-4, .block-5 {
  margin: 0px;
  border: 1px solid #52090e; }

#dropDownSection, #departments {
  margin-top: 20px;
  -webkit-box-flex: 5;
  -moz-box-flex: 5;
  -webkit-flex: 5;
  -ms-flex: 5;
  flex: 5; }

.block-0 {
  width: 60px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.block-1 {
  width: 120px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.block-2 {
  width: 180px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.block-3 {
  width: 240px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.block-4 {
  width: 300px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.block-5 {
  width: 360px;
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.adam-photo {
  background: url("adam.png"); }

.james-photo {
  background: url("james.png"); }

.nick-photo {
  background: url("nick.png"); }

.jack-photo {
  background: url("jack.png"); }

.block-5 {
  height: 300px; }

.block-4 {
  height: 240px; }

.block-3 {
  height: 180px; }

.block-2 {
  height: 120px; }

.block-1 {
  height: 60px; }

.info {
  color: blue; }

.error {
  color: red; }

.hello {
  display: none; }
  .hello p, .hello .link {
    color: white;
    padding: 0px; }
  .hello p, .hello .ansar {
    color: green;
    padding: 5px; }

.hello {
  display: none; }
  .hello-link {
    color: white;
    padding: 0px; }
  .hello-ansar {
    color: green;
    padding: 5px; }
  .helloans .hello {
    color: red; }

.rishi {
  display: -webkit-box;
  /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex; }

.puma-icon {
  background-image: url("/images/puma.png");
  border: 2px solid black;
  cursor: default; }

.sea-slug-icon {
  background-image: url("/images/sea-slug.png");
  border: 2px solid blue;
  cursor: pointer; }

.egret-icon {
  background-image: url("/images/egret.png");
  border: 2px solid white;
  cursor: move; }

.andhra {
  display: block;
  font-family: Arial;
  font-size: 20px;
  font-weight: bold;
  color: #ff0000; }

.box {
  display: inline-block; }
  .box:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .box {
    height: 1px; }

/*# sourceMappingURL=main.css.map */