
<div id="header">Departments List</div>
<div class="row">
  <div id="dropDownSection" class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
    <select ng-model="selectedSite" ng-change="siteSelected(selectedSite)">
      <option value="" disabled="disabled">--select site--</option>
      <option ng-repeat="site in sites" value="{{site}}">{{site}}</option>
    </select>
  </div>
  <div id="departments" class="col-xs-12 col-sm-10 col-md-10 col-lg-10">
    <div ui-view="departments"></div>
  </div>
</div>
<div class="row">
  <div id="renderingDataView">
    <div ui-view="information"></div>
  </div>
</div>